Execution plan [{{#plan.phasesInExecutionPlan}} {{this}} {{/plan.phasesInExecutionPlan}}]:
{{#plan}}
    [{{lifecyclePhase}}] {{mojoExecution.groupId}}:{{mojoExecution.artifactId}}:{{mojoExecution.goal}} ({{mojoExecution.executionId}})
{{/plan}}